@{
    ViewBag.Title = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">E-Recarga</h1>
            <h2 class="masthead-subheading mb-0">Melhor Aplicação para reservas</h2>
            <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Images/carro.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Carros Elétricos.</h2>
                    <p>A mobilidade elétrica é um importante contributo para a mobilidade sustentável e para o aumento da eficiência energética no transporte.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Images/carregar.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-5">Recarregue energias!</h2>
                    <p>Em geral, os consumidores que optam por veículos elétricos têm orgulho no contributo que dão para que tenhamos um planeta melhor e mais saudável.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Images/applicacao.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-5">Em Qualquer Lado!!!</h2>
                    <p>
                        Para prestar o melhor serviço, a E-Recarga está empenhada em adequar a rede de postos de carregamento às necessidades dos utilizadores individuais e das empresas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/Images/EnergiasRenovaveis.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-5">Alternativa LIMPA!</h2>
                    <p>O utilizador de veículos elétricos contribui para a melhoria ambiental do ar que respiramos e para a redução da emissão de gases de efeito de estufa ao mesmo tempo que contribui para a diminuição da dependência energética do país. </p>
                </div>
            </div>
        </div>
    </div>
</section>